@import './public.scss';
.find-page{
    height: 100%;
    padding-bottom: $paddingBottom;
    .find-container{
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        /deep/ .am-tabs{
            height: fit-content;
        }
    }
}