.home-page{
    .mycomponent-box{
        .home-component-input{
            outline-color: red;
            border: 1px solid black;
        }
    }
    .image-notice{
        width: 30px;
        height: 30px;
        position: relative;
        
    }
}