@import './public.scss';
@import '../assets/css/sprite.scss';

.message-page-container{
    overflow: hidden;
    .el-margin-20{
        margin: $marginTop 0;
    }
    .background-sprite{
        @include sprite($add);
        background-image: url('../assets/sprites/sprite.png');
    }
}