
.select-container{
    width: 100%;
    height: 40px;
    
}
.select-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .selected-item{
        flex: 1;
        height: 30px;
        line-height: 30px;
    }
}
