.menu-container{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.menu-container li{
    list-style: none;
    flex: 1;
}
.menu-container li a{
    color: black;
}
.menu-container li a.selected{
    color: red;
}